@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.noUser, .selectUserContainer section, .selectUserContainer ul li {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  background: #f0ffdc;
  color: #1c4000; }
  body h1 {
    font-family: "Sacramento", cursive; }
  body input,
  body button {
    background: white;
    border: none;
    outline: none;
    border-radius: 500px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; }
  body button {
    cursor: pointer; }
  body li {
    list-style: none; }

.noUser {
  width: 100%;
  height: 100vh;
  margin-top: -5%;
  flex-direction: column; }
  .noUser > .addUserContainer {
    position: static; }
    .noUser > .addUserContainer input {
      width: 500px;
      margin-top: 20%; }

.greetings {
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 3rem;
  text-transform: capitalize; }

.selectUserContainer {
  position: fixed;
  bottom: 30px;
  left: 30px; }
  .selectUserContainer section .menuIcon {
    cursor: pointer;
    background: #1c4000;
    color: white;
    padding: 9px 11px;
    border-radius: 500px; }
  .selectUserContainer ul {
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: 0px; }
    .selectUserContainer ul li {
      justify-content: flex-start;
      margin-bottom: 10px; }
    .selectUserContainer ul div {
      background: white;
      padding: 10px 20px;
      border-radius: 500px;
      margin-right: 10px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }
    .selectUserContainer ul button {
      cursor: pointer;
      padding: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

@media (max-width: 640px) {
  .selectUserContainer {
    left: auto;
    right: 30px;
    bottom: 100px; }
    .selectUserContainer ul {
      left: auto;
      right: 0; }
      .selectUserContainer ul li {
        flex-direction: row-reverse; }
      .selectUserContainer ul div {
        margin: 0 0 0 10px; } }
