@import "./app.scss";
.addUserContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  form {
    display: flex;
    align-items: flex-end;
  }
  input {
    margin: 0 20px;
    padding: 20px;
    width: 300px;
    z-index: 0;
  }

  button {
    padding: 9px 10px;
    background: $dark-color;
    color: white;
    z-index: 1;
  }
}

@media (max-width: 440px) {
  .addUserContainer {
    input {
      width: 100%;
    }
  }
}
