@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$light-color: #f0ffdc;
$dark-color: #1c4000;

%centrofy {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $light-color;
  color: $dark-color;
  h1 {
    font-family: "Sacramento", cursive;
  }
  input,
  button {
    background: white;
    border: none;
    outline: none;
    border-radius: 500px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  button {
    cursor: pointer;
  }
  li {
    list-style: none;
  }
}

.noUser {
  width: 100%;
  height: 100vh;
  margin-top: -5%;
  @extend %centrofy;
  flex-direction: column;
  & > .addUserContainer {
    position: static;
    input {
      width: 500px;
      margin-top: 20%;
    }
  }
}

.greetings {
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 3rem;
  text-transform: capitalize;
}
